.patient {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 2fr 1fr 1fr;
	list-style: none;
}

.patient-name,
.patient-id,
.patient-age {
	border: 1px solid black;
	padding: 10px;
}

.patient-name {
	font-size: 1.5rem;
}

.patient-id,
.patient-age {
	font-size: 1.3rem;
}
